body{
    width: 100vw;
    height: 100vh;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gameGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.5rem;

    width: 100%;
    height: 100%;
}
.gameCell{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    font-size: 4rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}
.boardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    width: 100%;
    height: 100%;
}

.options{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reset-btn{
    padding: .7rem;
    border: none;
    border-radius: 0.15rem;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.reset-btn:hover{
    background-color: rgb(6, 92, 179);
    transition: all 0.15s;
}